
    .banner{
        padding: 50px 0 50px 0;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }



.swiper-button-next, .swiper-button-prev {
    background-color: white;
    color: black; 
    border-radius: 50%;
    padding: 10px;
    z-index: 10; 
  }
  
  .swiper-button-next {
    right: 0px;
    position: absolute;
  }
  
  .swiper-button-prev {
    left: 10px; 
    position: absolute;
  }
  
  .swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: white;
    color: black;
  }
  
  .swiper-button-next::after, .swiper-button-prev::after {
    font-size: 24px; 
    font-weight: bold; 
  }
  

.app-banner{
  display: flex;
  width: 100%;
  height: 520px;
  justify-content: space-around;
  background-color: #dddbdb;
  margin: 50px 0;
  padding: 20px;
  align-items: center;
  border-radius: 8px;
  &__content{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    p{
      display: flex;
      align-items: center;
      column-gap: 20px;
    }
    .qr{
      width: 200px;
    }
    .app-prog{
      display: flex;
      column-gap: 20px;
      padding: 10px 0;
    }
  }
}
.adventage{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 20px 0;
  align-items: center;
  row-gap: 20px;
  h1{
    font-size: 22px;
  }
  .issue{
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    justify-content: space-between;
    .kard{
      display: flex;
      align-items: center;
      column-gap: 10px;
      p{
        width: 300px;
        display: flex;
        flex-direction: column;
        h2{
          font-size: 18px;
        }
      }
    }
  }
}