.wrapper {
    display: flex;
    flex-direction: column;
    font-family: $main-font;
}

.main {
    flex: 1 1 auto;
}

.container {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
}

.swiper-button-next{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.43);
}
.swiper-button-prev{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.701);
}

.swiper{
    position: relative;
    .swiper-pagination{
        position: absolute;
        bottom: 11%;
    }
}
.swiper-pagination-bullet{
    background-color: aliceblue;
}


#scrollToTopBtn {
    z-index: 20;
    padding: 5px 0;
    position: fixed;
    bottom: 100px;
    right: 30px;
    background-color: aliceblue;
    color: #333;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    // font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none; /* Initialy hidden */
  }
  
  #scrollToTopBtn:hover {
    background-color: #fbc100;
  }
  